<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scott Christensen | Code by Scott</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Scott Christensen", root_path, class: 'name' %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
      </nav>
  </header>
  
  <%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy;<%= Time.now.year %> Scott Christensen</p>
    <nav>
      <a href="https://twitter.com/jiujitsuscott" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCttD3Om-e5d1Fah3oIrJMdw" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a href="https://github.com/codeByScott/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    </nav>
  </footer>

</body>
</html>
